# Ignore R-specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore output files
results/png/*.png
results/report/*.html
results/report/*.pdf
results/report/ridgeline_report_files/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*~
*.swp
*.swo
